.div{
    width: 1440px;
height: 1024px;
margin: 0 auto;
flex-shrink: 0;

}
.text{
    display: flex;
    justify-content: space-between;
}
.container{
    margin-top: 29px;
}
.gogle{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.w{
    color: #111517;
font-family: Nunito Sans;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.card{
  
    


}
.navbar{
    transition: all 0.6s ease-in-out;
}
.navBARX{
    display: flex;
    gap: 30px;
    margin-top: 48px;
}
.cardx{
    display: flex;
    gap: 30px;
    
}
.navbar:hover{
    transform: scale(89%);
    
    
}
.navbarx:hover{
    transform: scale(90%);
 ;}
 .navbarx{
    transition: all 0.6s ease-in-out;
 }